p {
  color: #7DBEFF;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
}

h1, h2, h3 {
  color: #7470FF;
  font-family: 'Roboto Slab', Georgia, "Times New Roman", serif;
  text-align: center;
}


h1 {
  font-size: 3rem;

}


h2 {
  font-size: 1.5rem;
  font-style: oblique;
}


ul {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#header {
  background-color: #70FFFB;
}

#container{
    width: 75%;
    margin: 0 auto;
  }


#nav a:link, #nav a:visited {
  display: block;
  color: white;
  background-color: #CC7C50;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-style: solid;
  border-width: thin;
  text-decoration: none;
}


  img {
  	border: none;
  }
