#nav ul li {
  display:block;
  border-top:1px #79896D solid;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

#nav a {
  color:F8ECC2;
  display:block;
  text-decoration: none;
  padding:20px 30px;
}

#header {
    display: flex;
    flex-flow: row;
    background-color: #65a8a6;
    margin: 0;
    padding: 0 10px;
}

#header h1 {
    order: 2;
    font-size: 2em;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
    color: #5d5c5c;
}


p {
  color: black;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
}

h1, h2, h3 {
  color: #5d5c5c;
  font-family: 'Roboto Slab', Georgia, "Times New Roman", serif;
  text-align: center;
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  font-style: oblique;
}


#header {
  background-color: white;
}

.container{
    width: 75%;
    margin: 0 auto;
		display: flex;
		flex-direction: row;
  }

#nav {
	  display: none;
	  flex-direction: row;
	  justify-content: space-around;
		padding: 0;
		list-style-type: none;

	}
#nav li {
	  list-style-type: none;
	  float: left;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  border-bottom: 1px solid #ccc;
	}

#nav a:link, #nav a:visited {
  display: block;
  color: #ffffff;
  background-color: #5d5c5c;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
	text-decoration: none;
  padding: 10px;

}

#nav a:hover, .nav a:active {
  background-color: #363636;
}


.headshot {
  display: none;
}

#nav ul {
    display: none;
}

@media screen and (min-width: 600px) {
	.container {
		width: 80%;
	}

  #nav {
        display: flex;
        flex-direction: row;
    }

  #nav ul li {
        border-top: none;
    }

  .menu-trigger {
        display: none;

    }

  #header h1 {
        order: 1;
    }

  #nav {
        order: 2;
    }

	.headshot {
    display: block;

	}


@media screen and (min-width: 800px) {
		#nav {
			flex-direction: row;
		}

		.container {
		display: grid;
		grid-template-columns: 150px 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
				"a b b";
			}
			.headshot {
				width: 100%;
				grid-area: a;
			}

			.section {
				grid-area: b;
			}
}


@media screen and (min-width:1000px) {
	.container {
		display: grid;
		grid-template-columns: 150px 1fr 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
				"a a b b";
		}
}
